h1 {
	color: purple;
	font-size: 40px;
}

h2 {
	color: red;
	font-size: 30px;
}

h3 {
	color: blue;
}
img {
	height: 10px;
}

.nom {
	text-align: center;
	background-image: url("imgage/nom.jpg");
	image-size: cover;
	padding: 140px;
}

.nom img









